body{
    border: 1px solid red;
    font-size: 16px; /* 1em */
    margin: 0px auto;
    max-width: 1024px;
}

header{
    background: #d1e3ee;
    
}

header nav{
    background: #026dc6;
    width: 99%;
    margin: 0px auto;
    padding: 2px 0px;
    border-radius: 5px;
}

header nav ul li{   
    margin-left: 20px;
    color: white;
    display: inline-block;
}

header nav form{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}

header nav form input{
    border-radius: 5px;
}

header nav form input[type="submit"]{
    background: green;
    border: 1px solid green;
    color: white;
}

#logo{      /* id="logo" */
    margin: -150px 0px 0px 0px;
    /* margin-top: -150px; */
}